/* 1. Selectors */
body {
    background: linear-gradient(to bottom, rgba(162, 193, 242, 1), rgba(162, 193, 242, 0));
}
/* selector { cssProperty: cssValue; } */
/* a.) Element Selector - Selects element based on the name */
h1 {
    color: blue;
}
/* b.) id Selector - Selects the element based on the id. */
#heading-one:hover {
    color: green;
}
/* c.) class Selector - Selects the elements based on the class name */
/* #para-one, #para-two, #para-four {
    color: gray;
} */
.myPara {
    color: gray;
}
/* d.) Attribute Slector */
/* elementName[attributeName condition] */
/* I want to find the <a> whose href starts with https:// */
/* ^ -> Starts with
$ -> Ends with
* -> contains */
a[href^="https://"] {
    color: yellow;
}
a[href$=".jpg"] {
    color: maroon;
}
a[href*="/"] {
    color: red;
}
img[src^="../"] {
    border: 10px solid gray;
} 
/* e.) Pseudo Selectors */
/* elementName: pseudoProperty { ... } */
ol:first-child {
    color: red;
}
li:first-child {
    color: green;
}
.ordered-list-item:last-child {
    color: red;
}
.unordered-list-item:first-child {
    color: blue;
}
.ordered-list-item:nth-child(3) {
    color: yellow;
}

/* Units of Measurements */
/* 1. Absolute Unit (px, cm, mm, inc, ... ), 2. Relative Unit (em) */
p {
    /* font-size: 18px ; */
    font-size: 1.2em; 
    /* font-size: 5cm; */
}

img {
    height: 720px;
    width: 75%;
}

/* BOX MODEL */
#form-email, #form-name, #form-pwd {
    width: 100%;
}

.form-item {
    margin: 8px;
}

form {
    /* border: widthOfBorder style color; */
    /* style :- 1. solid, 2. dotted, 3. dashed, 4. double */
    border: 3px solid gray;
    
    /* 
    padding: a-px;
    padding: a-px b-px; a -> top-bottom | b -> left-right
    padding: a-px b-px c-px d-px; a -> top | b -> right | c -> bottom | d -> left 
    */
    padding: 10px;
    padding: 10px 5px;
    padding-top: 5px; padding-right: 10px; padding-bottom: 15px; padding-left: 20px;
    padding: 5px 10px 15px 20px;

    margin: 10px;
    margin: 10px 5px;
    margin: 5px 10px 15px 20px;

    /* NOTE:- padding & margin are both parent properties -> they also have sub-properties associated w them. */
    /* padding-left:; padding-right:; padding-top:; padding-bottom:; margin-top:; margin-bottom:; margin-left:; margin-right:; */
}

/* background: */
#container-two {
    width: 65%;
    height: 500px;
    /* NOTE:- background is a parent property */
    /* background: red; */
    background: url('https://cdn.wallpapersafari.com/13/84/wlZ31L.jpg');
    background-repeat: no-repeat;
    background-color: green;
    /* background-size: 100%; background-size: auto; background-size: cover; */
    background-size: cover;
}

/* Gradients - 1. Linear Gradient, 2. Radial Gradients */
#container-three {
    width: 65%;
    height: 400px;

    /* NOTE :- If no direction is provided, default is top to bottom | Directions :- bottom, top, left, right */
    /* background: linear-gradient(direction, black, red, blue, green, yellow, white); */
    /* background: linear-gradient(to left, black, red, blue, green, yellow, white); */

    /* NOTE :- You can specify the directions usinh deg values (0deg) starts from bottom, reaches to top */
    background: linear-gradient(360deg, black, red, blue, green, yellow, white);

    /* 
    COLORS :-
    1. Named Colors     2. HEX Code     3. RBG() -> rgb(red, green, blue)   4. RGBA() -> rgb(red, green, blue, absolute) -> abs [0-1]; 
    */
}